// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

.greenColor {
  background-color: #565D47;
}
.rosaColor {
  background-color: #EAAC9D;
}
.beihgColor {
  background-color: #F0DAA4;
}
.marronColor {
  background-color: #B49C73;
}